.navbar-header
{
   font-family: 'Arial';
   color:#ffffff;
   font-size:150%;
   margin-top:10px;


}

.navbar navbar-inverse
{
  border:
}

.img-pec
{
   width:70px;

  /* margin-bottom:30px;*/

}
.logo{

}


