<body>
<form [formGroup]="QueryForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
  <input  style="width: 55%;min-height: 100px;" type="text" formControlName="update" class="form-control" />
    <span class="form-group">
      <button style="background:#8C1515;" [disabled]="loading" class="btn btn-danger btn-rounded btn-center">Submit</button>
    </span>
    <span class="example-fill-remaining-space"></span>
  </div>
</form>
  <div *ngFor="let data of feed">
    <mat-card>
      <mat-card-title style="color:#8C1515">{{data.val}}</mat-card-title>
      <div *ngFor="let item of data.update[0] | keyvalue">
        <mat-card-subtitle>{{item.key}}</mat-card-subtitle>
        <mat-card-content>
        {{ item.value }}
        </mat-card-content>
      </div>
      <span>{{" "}}</span>
      <div class="container">
        <div class="card">
          <div class="commentbox">
            <div class="col-12 col-sm-12 header">
              <h6>Comments ({{count}})</h6>
            </div>
            <div class="col-6 col-sm-6 body">
              <div class="comment-container">
                <div class="comment-form">
                  <app-commentbox (usercomment)="receiveComment($event)"></app-commentbox>
                </div>
              </div>
            </div>
          </div>
          <app-comments [postComment]="comments" (countComments)="recieveCount($event)"></app-comments>
        </div>
      </div>
    </mat-card>
  </div>
</body>
