h1
 {
       text-align: left;
       font-family: "Arial";
       /*font-size: pt;*/
       color: #000000;
       margin-bottom: 5px;
       margin-left: 10px;

      background-color: #ffffff;

    }

h2
    {
    margin-left: 10px;
    font-size: 18pt;
     text-align: center;


    }
.welcome
    {
        padding : 0%;
             border-width: 0px;

             width: 70%;
             margin-right:0px;
    }
.dashboard
    {
             padding : 0%;
             border-width: 0px;
             width: 70%;
             margin-right:0px;

    }



/*horizontal line*/
hr
{
           border-width: 0%;
           border-color:#27CFC0;
           height:0px;
           margin-bottom:0%;

}
/*tab for profile*/
.tabprofile
{

      float: left;
      margin-top: 0px;
      margin-right:20px;
      border: 0px ;
      background-color: #767878;
      width: 20%;
      height: 100%;
      top:0px;
      left:0px;
}
/*profile button*/
.tabprofile button
{
  display: block;
  background-color:#767878;
  color: white;
  font-size: 120%;
  font-family:"Arial";
  font-weight: bold;
  padding: 22px 16px;
  width: 100%;
  height: 100%;
  border: 0px solid #ffffff;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  top:0px;
  left:0px;
}
.tabprofile button:hover {
  background-color: black;
  color: #27CFC0;

}
/* other tabs */
.tab
  {
      float: left;
      border: 0px ;
      background-color: #484B4A;
      width: 20%;
      height: 100%;
      top:0px;
      bottom:0px;
      left:0px;
      clear:left;
      margin-right:20px;

  }
/* tab buttons*/
.tab button {
  display: block;
  background-color:#484B4A ;
  color: white;
  font-size: 120%;
  font-family:"Arial";
  /*font-weight: bold;*/
  padding: 22px 16px;
  width: 100%;
  height: 100%;
  border: 0px solid #ffffff;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  top:0px;
  left:0px;
}

.tab button:hover {
  background-color: black;
  color: #27CFC0;

}
.dashboard button:hover
{
 background-color: #108486;
}


.dashboard button {
  background-color: #27CFC0;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 1px;
}

.noticeboard_events
{
float:right;
margin-left:0px;
margin-top:20px;
width:30%;
clear:right;



}

.noticeboard
{
background-color:#D9E0E0;
width:90%;
height:170px;
border-radius: 15px;


}

.marq
{
direction:down;
width:90%;
height:100%;
}

.events
{
background-color:#D9E0E0;
width:90%;
height:170px;
border-radius: 15px;
}

.dropdown_subject
{
display: none;
  position: absolute;
 width: 20%;


}

.subject:hover .dropdown_subject
{
display:block;

}

.dropdown_subject:hover
{
background-color:black;
}

.tab:active {
  background-color: black;
  color: #27CFC0;

}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
