<!DOCTYPE html>
<html>
<head>
  <title>pec</title>
</head>
<body>
<img src="assets/images/pecLogo.png" class="image1" width="7.5%" height="7.5%" alt="erroragain" align="left" margin-left="1%">
<br>
<h1 > <b>Punjab Engineering College </b>   </h1>
<br>

<hr>
<div class="noticeboard_events">
  <h4>Noticeboard</h4>
  <div class="noticeboard">
    <ul>
      <li>xyz</li>
      <li>abs</li>
    </ul>
  </div>
  <br>
  <h4>Events</h4>
  <div class="events">
    <marquee class="marq" direction="down" >
      <ul>
        <li>xyz</li>
        <li>abs</li>
      </ul>

    </marquee>

  </div>
</div>
<div class="tabprofile">
  <button  onclick="">Profile</button>
</div>
<div class="tab">
  <button  onclick="">Registration</button>
  <button  onclick="">TimeTable</button>
  <button  onclick="">Fees</button>
  <div class="subject">
    <button onclick="">Subjects</button>
    <div class="dropdown_subject">
      <button> CSN 101</button>
      <button>CSN 401</button>
      <BUTTON>CSN 404</BUTTON>
    </div>
  </div>
  <button></button>
  <button></button>
  <button></button>
  <button></button>


</div>

<div class="welcome">
  <h2> Welcome {{userData.name}} </h2>
  <img src="assets/images/IMG_4925.jpg" width="7.5%" height="7.5%" alt="erroragain" align="center">
</div>


<div class="dashboard">
  <button class="button" onclick="openPill(event, 'to-do list')">To-do List</button>
  <button class="button" onclick="openPill(event, 'Pill button 1')">Pill button 1</button>
  <button class="button" onclick="openPill(event, 'Pill button 2')">Pill button 2</button>


</div>
<!-- tab content-->
<div id="to-do list" class="tabcontent" >
  <h5>To-do list</h5>
  <p>testing</p>
</div>

<div id="Pill button 1" class="tabcontent">
  <h5>Pill button 1</h5>
  <p>testing</p>
</div>

<div id="Pill button 2" class="tabcontent">
  <h5>Pill button 2</h5>
  <p>testing</p>
</div>



</body>
</html>
