<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>pec</title>-->
<!--</head>-->
<!--<body>-->
<!--<img src="assets/images/pecLogo.png" class="image1" width="7.5%" height="7.5%" alt="erroragain" align="left" margin-left="1%">-->
<!--<br>-->
<!--<h1 > <b>Punjab Engineering College </b>   </h1>-->
<!--<br>-->

<!--<hr>-->
<!--<div class="noticeboard_events">-->
<!--  <h4>Noticeboard</h4>-->
<!--  <div class="noticeboard">-->
<!--    <ul>-->
<!--      <li>xyz</li>-->
<!--      <li>abs</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <br>-->
<!--  <h4>Events</h4>-->
<!--  <div class="events">-->
<!--    <marquee class="marq" direction="down" >-->
<!--      <ul>-->
<!--        <li>xyz</li>-->
<!--        <li>abs</li>-->
<!--      </ul>-->

<!--    </marquee>-->

<!--  </div>-->
<!--</div>-->
<!--<div class="tabprofile">-->
<!--  <button  onclick="">Profile</button>-->
<!--</div>-->
<!--<div class="tab">-->
<!--  <button  onclick="">Registration</button>-->
<!--  <button  onclick="">TimeTable</button>-->
<!--  <button  onclick="">Fees</button>-->
<!--  <div class="subject">-->
<!--    <button onclick="">Subjects</button>-->
<!--    <div class="dropdown_subject">-->
<!--      <button> CSN 101</button>-->
<!--      <button>CSN 401</button>-->
<!--      <BUTTON>CSN 404</BUTTON>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button></button>-->
<!--  <button></button>-->
<!--  <button></button>-->
<!--  <button></button>-->


<!--</div>-->

<!--<div class="welcome">-->
<!--  <h2> Welcome {{userData.name}} </h2>-->
<!--  <img src="assets/images/IMG_4925.jpg" width="7.5%" height="7.5%" alt="erroragain" align="center">-->
<!--</div>-->


<!--<div class="dashboard">-->
<!--  <button class="button" onclick="openPill(event, 'to-do list')">To-do List</button>-->
<!--  <button class="button" onclick="openPill(event, 'Pill button 1')">Pill button 1</button>-->
<!--  <button class="button" onclick="openPill(event, 'Pill button 2')">Pill button 2</button>-->


<!--</div>-->
<!--&lt;!&ndash; tab content&ndash;&gt;-->
<!--<div id="to-do list" class="tabcontent" >-->
<!--  <h5>To-do list</h5>-->
<!--  <p>testing</p>-->
<!--</div>-->

<!--<div id="Pill button 1" class="tabcontent">-->
<!--  <h5>Pill button 1</h5>-->
<!--  <p>testing</p>-->
<!--</div>-->

<!--<div id="Pill button 2" class="tabcontent">-->
<!--  <h5>Pill button 2</h5>-->
<!--  <p>testing</p>-->
<!--</div>-->

<!--<div id=""wrapper">-->
<!--  <div id="sidebar-wrapper">-->
<!--    <ul class="sidebar-nav">-->
<!--      <li><a href="#">Feed</a></li>-->
<!--      <li><a href="#">Registration</a></li>-->
<!--      <li><a href="#">Feed</a></li>-->
<!--      <li><a href="#">Feed</a></li>-->
<!--    </ul>-->

<!--  </div>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->


<app-navbar></app-navbar>
<body>

<!--<div class="col-md-4">-->
<div class="container-fluid">
<div class="row">
  <div class="col-md-3" >
<div class="card-container">



  <div class="upper-container">
    <div class="image-container">
      <img src="assets/images/IMG_4925.jpg" class="profile-img-settings"/>
    </div>
  </div>

  <div class="lower-container">
    <div>
      <h3>Welcome</h3>
      <h4>{{userData.name}}</h4>
    </div>
    <div>
      <br/>
      <br/>
      <a href="#" class="btn">View profile</a>
    </div>
  </div>
</div>
    <div class="tags">
    <div class="mat-card" >
      <div class="card-body" >
        <h4 class="card-title" ><i class="fa fa-hashtag" aria-hidden="true"></i><b> Tags</b></h4>

      </div>
    </div>
  </div>
</div>
<!--newsfeed-->
  <div class="col-md-6">
    <app-newsfeed></app-newsfeed>
  </div>
  <!--right panel-->
  <div class="col-md-3" >

  <div class="card ">
  <div class="card-body">
    <h4 class="card-title"><i class="fa fa-bell" aria-hidden="true"></i><b> Notifications</b></h4>
    <ul>
      <li>SNGC Assingment due on 21st Oct.</li>
      <li>Deepawali Holiday on 28th Oct</li>
      <li>End sems from 25th Dec</li>
      <li>WSN Quiz on 30 Nov</li>
    </ul>
  </div>
</div>
    <div class="events">
      <div class="mat-card" >
        <div class="card-body" >
          <h4 class="card-title" ><i class="fa fa-bullhorn" aria-hidden="true"></i><b>  Events</b></h4>
          <marquee class="marq" direction="down" >

                   <li>Cultural night on Tuesday, 30 Nov</li>
                   <li>Convocation on 12 Sept Saturday</li>


                </marquee>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            </div>


            </body>
             <!--<body>
            <div class="container-fluid">
              <div id="viewport">
                 Sidebar -->
    <!--<div id="sidebar">
      <header>
        <a href="#">My Profile</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i> Registration
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-link"></i> Societies
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-widgets"></i> Attendance
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-calendar"></i> Assignments
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-info-outline"></i> Quizzes
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-settings"></i> PEC
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-comment-more"></i> Contact
          </a>
        </li>
      </ul>
    </div>


    Content -->
    <!--<div id="content">

      <div class="container-fluid">
       <div class="row">
         <div class="col-md-6 well">
            <p>Welcome {{userData.name}} </p>
           <img src="assets/images/IMG_4925.jpg" class="profile-img-settings">
           <ngb-tabset>
             <ngb-tab title="Time Table">
               <ng-template ngbTabContent>
                <img src="assets/images/timeTable.PNG">
               </ng-template>
             </ngb-tab>
             <ngb-tab title="Course List" >
               <ng-template ngbTabContent>
                 <p>Course List goes here</p>
               </ng-template>
             </ngb-tab>
             <ngb-tab title="Something Else" >
               <ng-template ngbTabContent>

               </ng-template>
             </ngb-tab>
           </ngb-tabset>

         </div>

         <div class="col-md-4">
           <div class="panel-body">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                       <i class="fa fa-home"></i> &nbsp; Notifications
                   </h4>
                 </div>
                 <div id="collapseOne" class="panel-collapse collapse in">
                   <div class="panel-body">
                     <ul class="list-group">
                       <li style="color:red" class="list-group-item">SNGC Assingment due on 21st Oct</li>
                       <li class="list-group-item">Deepawali Holiday on 28th Oct</li>
                     </ul>
                   </div>
                 </div>
               </div>


                 </div>

             </div>
           </div>
         </div>
       </div>


  </div>



</div>

</body>-->


